[Unit]
Description=Paperless Celery Beat
Requires=redis.service

[Service]
User=paperless
Group=paperless
WorkingDirectory=/opt/paperless/app/src
ExecStart=/opt/paperless/venv/bin/celery --app paperless beat --loglevel INFO

[Install]
WantedBy=multi-user.target
