[Unit]
Description=Paperless webserver
After=network.target
Wants=network.target
Requires=redis.service
#Requires=paperless-webserver.socket

[Service]
User=paperless
Group=paperless
WorkingDirectory=/opt/paperless/app/src
ExecStart=/opt/paperless/app/bin/gunicorn -c /opt/paperless/app/gunicorn.conf.py paperless.asgi:application

[Install]
WantedBy=multi-user.target
